* {
        font-family: "Sriracha", serif;
}

body {
        background-color: rgb(255, 203, 196);
        padding: 16px;
}

h1 {
        color: rgb(255, 255, 255);
}

.container {
        box-sizing: border-box;
        margin: auto;
}

input[type=text], input[type=number] {
        width: 90%;
        margin: auto;
        padding: 4px 8px;
}

input[type=text]::placeholder,[type=number]::placeholder {
        color: rgb(255, 152, 153);
}

input[type=submit], input[type=button] {
        padding: 16px 24px;
        line-height: 4px;

        border: 1px solid rgb(255, 255, 255);

        background-color: rgb(255, 152, 153);
        color: rgb(255, 255, 255);
}

input[type=submit]:hover, input[type=button]:hover {
        background-color: rgb(255, 203, 196);
        color: rgb(255, 255, 255);
}

.input-button {
        text-align: right;
        margin: 8px auto;
}

input {
        outline: none;

        height: 25px;

        border-radius: 8px;
        border: 1px solid rgb(255, 152, 153);

        background-color: rgb(255, 255, 255);
        color: rgb(255, 152, 153);
}

.input {
        box-sizing: border-box;
        margin: 8px auto;
        text-align: center;
}


li {
        color:rgb(255, 152, 153);
        margin: 16px 0px;
        word-spacing: 5px;
}

.history {
        background-color: rgb(255, 255, 255);
        padding: 4px;
        border-radius: 16px;
}